@import '../Global/_variables.scss';

.multi-column {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  margin: -10px -10px;

  > div, > a {
    box-sizing: border-box; 
    width: 100%;       
  }
  
  &--two-column {
    @media (min-width: $viewport-tablet--min) {    
      > div, > a {
        width: 50%;
      }
    }
  }

  &--four-column {
    @media (min-width: $viewport-tablet--min) {    
      > div, > a {
        width: 50%;
      }
    }

    @media (min-width: $viewport-hd--min) {      
      > div, > a {
        width: 25%;
      }
    }
  }

  
  // Spacing
  
  &--spacing-xxxs {
    > div, a {
      padding: 5px
    }
  }

  &--spacing-xxs {  
    > div, a {
      padding: 10px
    }
  }
  
  &--spacing-xs {
    > div, a {
      padding: 20px
    }
  }

  &--spacing-small {
    > div, a {
      padding: 30px
    }
  }

  &--spacing-medium {
    > div, a {
      padding: 45px
    }
  }

  &--spacing-large {
    > div, a {
      padding: 60px
    }
  }

  // Padding

  &--padding-xxxs {
    > div > div,
    > a > div {
      padding: $padding--xxxs;
    }
  }

  &--padding-xxs {
  > div > div,
  > a > div {
      padding: $padding--xxs;
    }
  }
  
  &--padding-xs {
    > div > div,
    > a > div {
      padding: $padding--xs;
    }
  }

  &--padding-small {
    > div > div,
    > a > div {
      padding: $padding--small;
    }
  }

  &--padding-medium {
    > div > div,
    > a > div {
      padding: $padding--medium;
    }
  }

  &--padding-large {
    > div > div,
    > a > div {
      padding: $padding--large;
    }
  }
}


.icon-card {
  &-spacing {
    display: flex;
  }

  // border: solid 1px $secondary--dark;  
  background-color: white;      
  border-radius: 3px;
  overflow: hidden;
  box-shadow: $shadow--level-4;
  transition: box-shadow 0.3s;  
  flex: 1;

  &:hover {
    box-shadow: $shadow--level-1;
  }

  &__icon {
    width: 48px;
    height: 48px;
    margin-bottom: $padding--xxs; 
          
    span {
      transform: scale(2) translate(25%, 25%);
    }
  }

  &__title {
    margin-bottom: $padding--xxxs;
    color: $primary !important;
  }

  &__text {
    color: $body-text !important;
    margin-bottom: 0;
    font-size: 18px;
  }
}

.project-card {
  border: solid 1px white;
  position: relative;
  padding-bottom: 70%;
  background-color: transparent;      
  border-radius: 3px;
  overflow: hidden;
  box-shadow: $shadow--level-4;
  transition: box-shadow 0.3s, transform 0.3s;  
  flex: 1;

  &:hover {
    cursor: pointer;
    box-shadow: $shadow--sharp;
    transform: translateY(-5px);

    .project-card__image-glare {      
      opacity: 0.5;     
    }

    .menu-button {
      background-color: white;
      border: solid white 2px;
      color: $primary;
      box-shadow: $shadow--level-3;
    }
  }

  &-spacing {
    display: flex;    
    background-color: transparent;
  }

  &__image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    img {
      border-radius: 5px;
      overflow: hidden;
      height: 100%;      
    }
  }

  &__image-glare {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $secondary;
    transition: opacity 0.3s;
    opacity: 0.7;
  }

  &__image-overlay {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px;
    background-image: radial-gradient(75% 75% at 50% 50%, #FFFFFF00 0%, #19192a 98%, #4D4D4DFF 100%, #19192a 100%),linear-gradient(0deg, #19192a 0%, #19192a 9%, #FFFFFF00 100%);
  }

  &__text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: $padding--xxs;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: $padding--xxxs;
    text-decoration: underline $primary;
  }

  &__description {
    margin-bottom: 0;
    font-size: 14px;
  }
}
