@import '../Global/_variables.scss';

.project {
  &__photo {     
    position: relative;
    width: 100%;
    padding-bottom: 66%;
    border-radius: 6px;
    box-shadow: $shadow--level-4;
    overflow: hidden;

    &:hover {
      .project__overlay {      
        opacity: 0.8;
      }

      .menu-button--primary {
        background-color: white;
        border-color: white;
        color: $primary;
        box-shadow: $shadow--level-3;
      }

      .menu-button--white {
        background-color: $primary;
        color: white;
        border-color: $primary;
        box-shadow: $shadow--level-3;
      }

      .menu-button--light {
        background-color: white;
        border: solid white 2px;
        color: $neutral--dark;
      }

      .menu-button--dark {
        background-color: $secondary;
        color: white;
        border-color: solid 2px white;
        box-shadow: $shadow--level-3;        
      }
    }

    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
    }

    .project__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $gradient-overlay--medium;
      opacity: 1;
      transition: opacity 0.4s;
    }
  }

  &__padding {
    height: 100%;   
    
    &--small {
      .project__info--bottom {
        row-gap: $padding--xxxs;
        padding: $padding--xxs;
      }
    }

    &--regular {
      .project__info--bottom {
        row-gap: $padding--xxs;
        padding: $padding--xs;
      }
    }
  }

  &__info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    

    &--bottom {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }


  &__text-container {
    h2, p {
      color: white;
    }

    h2 {
      margin-bottom: $padding--xxxs;
      text-decoration: underline;
      text-decoration-color: $primary;
    }

    p {
      margin-bottom: 0;
    }
  }
}
