@import '../Global/_variables.scss';

.about {
  &__header {
    text-decoration: underline;
  }

  &__bio-text--top {    
    margin-bottom: $padding--xxs;
  }

  &__bio-text--bottom {
    border-top: solid 1px white;
    padding-top: $padding--xs;
  }

  .hubspot {
    color: 	#f77657;
    text-decoration: underline;
    transition: text-decoration-color 0.15s;
    text-decoration-color: transparent;

    &:hover {
      text-decoration-color: #f77657;
    }
  }
}