.carousel-container {
  width: 600px;
  position: relative;
}

.wide-screen {
  height: max-content;
  position: absolute;
  z-index: 5;
  top: 0.5rem;
  right: -3rem;
  background-color: rgba(0,0,0,0.5);
  border: solid rgb(185, 0, 93) 1px;
  padding: 0.25rem 0.2rem;
  padding-right: 0.3rem;
  padding-bottom: 0.06rem;
  color: white;
  cursor: pointer;
}

.wide-screen-icon {
  transition: background-color 0.4s, transform 0.4s;
}

.red {
  color: rgb(255, 66, 161);
}

.wide-screen:hover .wide-screen-icon {
  color:rgb(255, 66, 161);
  transform: rotate(180deg);
}

.slide {
  background-color: rgba(31, 31, 50, 0.0);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-video {
  width: 100%;
  height: 100%;
}

.first-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-slide img {
  display: none;
  visibility: hidden;
  position: absolute;
}

.carousel iframe {
  width: 100% !important; 
  height: 100% !important;
  margin: 0 !important;
}

.animated {
  padding-inline-start: 0px;
}

.carousel-status {
  display: none !important;
}

.thumb {
  border: solid rgba(0,0,0,0) 1px !important;
  cursor: pointer !important;
}

ul.thumbs > li.selected {
  background-color: rgb(59, 59, 95) !important;
  border: solid rgb(185, 0, 93) 1px !important;
}