@import '../Global/_variables.scss';

.hero-container {
  &__photo-container {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;    
    margin-bottom: $padding--xxs;  
  }

  &__photo {    
    position: absolute;
    height: 100%;
  }

  &__name {
    text-decoration: underline;
    text-decoration-color: $primary;
  }

  &__introduction {
    h1 {
      @media (min-width: 500px) {
        font-size: 42px;
      }

      @media (min-width: $viewport-tablet--min) {
        font-size: 54px;
      }

      @media (min-width: $viewport-laptop--min) {
        font-size: 66px;
      }
    }
  }
}