.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 12;
}

.hero-margins {
  position: absolute;
  width: 100%;
  bottom: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15rem;
}